#include "gxm_q200_2g.dts"

/{
	le-dt-id = "gxm_kvim2_2vtv";
	compatible = "kvim";
	amlogic-dt-id = "kvim";

	memory@00000000 {
		/delete-property/ linux,usable-memory;
		linux,usable-memory-2g = <0x0 0x00100000 0x0 0x7ff00000>;
		linux,usable-memory-3g = <0x0 0x00100000 0x0 0xbff00000>;
	};

	sysled {
		led_gpio = <&gpio_ao GPIOAO_9 GPIO_ACTIVE_HIGH>;
	};

	fan {
		compatible = "fanctl";
		fan_ctl0 = <&gpio GPIODV_14 GPIO_ACTIVE_HIGH>;
		fan_ctl1 = <&gpio GPIODV_15 GPIO_ACTIVE_HIGH>;
		trig_temp_level0 = <60>;
		trig_temp_level1 = <70>;
		trig_temp_level2 = <74>;
	};

	meson-fb {
		/delete-property/ logo_addr;
		logo_addr_2g = "0x7d851000";
		logo_addr_3g = "0xbd851000"; /*ion base + fb0 memory size for uboot logo osd1*/
	};

	uart_AO_B: serial@c81004e0 {
		status = "okay";
	};
	
	dwc2_a {
		controller-type = <2>; /** 0: normal, 1: otg+dwc3 host only, 2: otg+dwc3 device only*/
	};
	adc_keypad{
		compatible = "amlogic, adc_keypad";
		status = "okay";
		key_name = "home";
		key_num = <1>;
		key_code = <102>;
		key_chan = <0>;
		key_val = <10>;
		key_tolerance = <40>;
	};
	aml_m8_snd {
		/delete-property/ mute_gpio-gpios;
		/delete-property/ pinctrl-names;
		/delete-property/ pinctrl-0;
	};
	amlogic-jtag {
		pinctrl-names = "jtag_apee_pins";
		pinctrl-0 = <&jtag_apee_pins>;
		/delete-property/ pinctrl-1;
	};
	dvb {
		compatible = "amlogic,dvb";
		dev_name = "dvb";
		ts0 = "serial";
		ts0_control = <0x0>;
		ts0_invert = <0x0>;
		fec_reset_gpio-gpios = <&gpio GPIODV_12 GPIO_ACTIVE_HIGH>;
		power_ctrl_gpio-gpios = <&gpio  GPIODV_20  GPIO_ACTIVE_HIGH>;
		lock_led_gpio-gpios = <&gpio GPIODV_11 GPIO_ACTIVE_HIGH>;
		ts1 = "serial";
		lock_led_gpio-gpios2 = <&gpio GPIODV_13 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "s_ts0", "s_ts1";
		pinctrl-0 = <&dvb_s_ts0_pins>;
		pinctrl-1 = <&dvb_s_ts1_pins>;
		resets = <&clock GCLK_IDX_DEMUX &clock GCLK_IDX_ASYNC_FIFO &clock GCLK_IDX_AHB_ARB0 &clock GCLK_IDX_HIU_PARSER_TOP>;
		reset-names = "demux", "asyncfifo", "ahbarb0", "uparsertop";
	};

	dvbfe {
		compatible = "amlogic,dvbfe";
		//dev_name = "dvbfe";
		status = "okay";
		dtv_demod0 = "Avl6211";
		dtv_demod0_i2c_adap_id = <2>;
		dtv_demod0_i2c_addr = <0x60>;
 		dtv_demod0_reset_value = <0>;
		dtv_demod0_reset_gpio-gpios = <&gpio  GPIODV_12  GPIO_ACTIVE_HIGH>;
		dtv_demod0_power_gpio-gpios = <&gpio  GPIODV_20  GPIO_ACTIVE_HIGH>;
		dtv_demod0_lock_gpio-gpios = <&gpio  GPIODV_11  GPIO_ACTIVE_HIGH>;
		dtv_demod1_i2c_adap_id = <1>;
		fe0_dtv_demod = <0>;
		fe0_ts = <1>;
		fe0_dev = <0>;
	};
};

&i2c_a {
	status = "okay";
};

&i2c_b {
	status = "okay";
	rtc_hym8563{
		compatible = "amlogic, rtc_hym8563";
		dev_name = "rtc_hym8563";
		status = "okay";
		reg = <0x51>;
	};
};

&pinmux {
	dvb_s_ts0_pins:dvb_s_ts0_pins {
		amlogic,setmask = <2 0x17>;
		amlogic,clrmask = <3 0x584 2 0x7000000 1 0x100>;
		amlogic,pins = "GPIODV_0", "GPIODV_8", "GPIODV_9", "GPIODV_10";
	};
	dvb_s_ts1_pins:dvb_s_ts1_pins {
		amlogic,setmask = <2 0x17 6 0x1E0000>;
		amlogic,clrmask = <3 0x584 2 0x7000000 1 0x100 6 0x7E00000>;
		amlogic,pins = "GPIODV_0", "GPIODV_8", "GPIODV_9", "GPIODV_10", "GPIOH_6", "GPIOH_7", "GPIOH_8", "GPIOH_9";
	};
};
